body {
    background-image: url(fall.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

/*-- Table settings --*/
table {
    background-color: whitesmoke;
    background-size: cover;
    margin: auto;
    margin-top: 200px;
}

table, th, td {
    border: 4px black solid;
    width: 50%;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eec170;
}

tr:nth-child(odd) {
    background-color: #f58549;
}

th {
    background-color: #585123;
}

th, td {
    padding: 10px; text-align: center;
}
/*-- End table settings --*/

.container {
    background-color: whitesmoke;
    margin: auto;
    margin-top: 30px;
    width: 500px;
    text-align: center;
    border: 4px black solid;
}

h1, p {
    color: black;
}
