body {
    background-image: url(clock_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

/*-- Table settings --*/
table {
    background-image: url(parchment.jpg);
    background-size: cover;
    margin: auto;
    margin-top: 13%;
}

table, th, td {
    border: 4px black solid; width: 50%; text-align: center;
}

tr:nth-child(even) {
    background-color: #eb8d88;
}

tr:nth-child(odd) {
    background-color: #f8b988;
}

th {
    background-color: #8f709e;
}

th, td {
    padding: 10px; text-align: center;
}
/*-- End table settings --*/

/*-- --*/

.container {
    background-image: url(parchment.jpg);
    margin: auto;
    margin-top: 5%;
    width: 50%;
    align-items: center;
    border: 4px black solid;
}

h1, p {
    margin-left: 8%;
    color: black;
}
