body {
    background-image: url(clock_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}
